:root {
    --color-blue: #6EC4D8;
    --color-blue-light: #6EC4D898;
    --color-pink: #fa7c91;
    --color-pink-light: #fa7c9198;
    --color-bg: #FFF;
    --color-blue-hover: #6EB5D8;
    --color-card: #ffdd00;
    --color-card-light: #ffdd0098;
    --color-card-lighter: #ffdd002f;
    --color-green: #10DA39;
    --color-green-lighter: #10da382f;
}
body {
    background-image: url(../img/background.png);
    
    font-family: 'Roboto Slab', serif;
}
input, label, button {
    cursor: pointer;
}
#teste-piruleta {
    text-align: center;
    margin-top: 80px;
    width: 100vw;
}
#drop-itens:hover {
    background-color: var(--color-blue-hover);
    border-radius: 10px;
}
#logo {
    height: 70px;
    margin-top: 0;
}
.dropdown-item {
    font-weight: 700;
}
#menu-nav {
    background-color: var(--color-blue);
    font-weight: 700;
    height: 70px;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-brand{
    padding-top: 0;
    padding-bottom: 0;

}
#drop-quiz {
    background-color: var(--color-blue);
}
.first-content {
    margin-top: 90px;
}
#navbarContent {
    background-color: var(--color-blue);
}
.p-0 {
    padding: 0;
}
.title-box {
    font-family: 'Londrina Solid', cursive;
    font-size: 40px;
    font-weight: 700;
  
    background-color: white;
    border: solid 3px whitesmoke;
    border-radius: 20px;
    
    width: 51%;
    padding-left: 20px;
    padding-right:  20px;
    text-align: center;
  }
.f-left {
    float: left;
    margin-right: 10px;
}
.news {
    background-color: #fffffff5;
    border-radius: 15px;
    overflow: hidden;
}