body {
    font-size: 20px;
}

.news-box {
    padding: 0 8px
}
.post-img {
    float:left;
    width: 50%;
    margin: 0 10px 0 10px;
}
.text {
    text-align: justify;
}

figure {
    float: left;
}